* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

/*===== Wrapper the both navigation and banner =====*/
.wrapper {
    position: fixed;
    width: 100%;
}

    .wrapper .top_nav {
        margin-top: 0px;
        width: 100%;
        height: 55px;
        background: #353434;
        padding: 0 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        /*This for top navigation wrap*/

        .wrapper .top_nav .left {
            display: flex;
            align-items: center;
        }

            .wrapper .top_nav .left .logo p {
                font-size: 15px;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                margin-right: 25px;
                text-transform: uppercase;
                word-spacing: 4px;
                letter-spacing: 5px;
            }

    /*====This for bottom navigation wrap=====*/
    .wrapper .bottom_nav {
        width: 100%;
        background: #f9f9f9;
        height: 50px;
        padding: 0 50px;
    }

        .wrapper .bottom_nav ul {
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .wrapper .bottom_nav ul li a {
                color: #494949;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 13px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }

        .wrapper .bottom_nav li a:hover:not(.active) {
            background-color: maroon;
            color: white;
        }

/*=== Banner wrap ===*/
.wrap_banner img {
    width: 100%;
    height: 100%;
}

.wrap_banner .banner {
    text-align: center;
    color: white;
}

.wrap_banner .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}


/* Responsive column section - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of 
next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

/* this to put copyrigt tags or any details information*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/* this to centered text at image*/
.centered {
    font-size: 50px;
    color:white;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 360;
    text-transform:uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*This wsite-content-title for abstrat guideline*/
.paragraph2 {
    margin: 60px 80px 20px;
    color: darkred;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
}

/*Table for display book*/
.table {
    width: 100%;
    border-collapse: collapse;
}




