* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  /*===== Wrapper the both navigation and banner =====*/
  .wrapper{ 
  position: fixed;
   width: 100%;
  }
  
  .wrapper .top_nav{
    margin-top: 0px;
    width: 100%;
    height: 55px;
    background: #353434;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } /*This for top navigation wrap*/
  
  .wrapper .top_nav .left{
    display: flex;
    align-items: center;
  }
  
  .wrapper .top_nav .left .logo p{
    font-size: 18px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    margin-right: 25px;
    text-transform: uppercase;
    word-spacing: 4 px;
    letter-spacing: 1px;
  }
  
  /*====This for bottom navigation wrap=====*/
  .wrapper .bottom_nav{
    width: 100%;
    background: #f9f9f9;
    height: 50px;
    padding: 0 50px;
  }
  
  .wrapper .bottom_nav ul{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wrapper .bottom_nav ul li a{
    color: #494949;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .wrapper .bottom_nav li a:hover:not(.active) {
      background-color: dimgrey;
      color: white;
  }
  
  /*=== Banner wrap ===*/
  .wrap_banner img {
    width: 100%;
    height: 100%;
  }
  .wrap_banner .banner {
    text-align: center;
    color: white;
  }
  
  .wrap_banner .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  /*==================  Fatin punya styling ======================*/
  mark {
    margin: auto;
    background-color: black;
    color: white;
    font-size: 8px;
    font-family: Arial text-align: left;
    position: fixed;
    width: 1800px;
}

p.center {
    color: red;
    font-size: 20px;
}
.hero-image {
            background-image:url("/source/FAQ/baru.png");
             /* Position and center the image to scale nicely on all screens */
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            position: relative;
            width:100%;
            height: 150%;
        }

body {
      background: white;
}

      .content {
          max-width: 1100px;
          margin: auto;
          background: white;
          padding: 16px;
      }

      ul {
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: white;
        font-family: Verdana;
        font-size: 13px;
        position: fixed;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover {
                background-color: transparent;
            }

            article {
                    
              font-size: 45px;
              text-align: center;
              padding: 20px;
              color: white;
          }

/* This is for styling after pls section */
content {
  font-size: 20px;
  text-align: left;
}
  div.a{
  line-height: 1.6;
}
div.b {
  line-height: 200%;
}


/*========== end fatin punya style =======================*/
        
/* Content styling */
/*=== Column container ===*/
.column {
    float:left;
    padding: 10px
}

.column.side {
    width: 20%;
    text-align:center
}

.column.middle {
    width: 60%;
    text-align: center
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive column section - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of 
next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
* {
    box-sizing: border-box;
}

/* this to put copyrigt tags or any details information*/
.footer {
  background-color: #353434;
  text-align: left;
  padding: 10px;
}

  .footer p {
      color: white;
      letter-spacing: 1px;
  }